.list-container {
    padding-top: 20px;
    width: 70%;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
}

th{
    text-align: center;
}

td {
    color: black;
    background-color: rgb(241, 202, 252);
    text-align: center;
}