<mat-toolbar>
  <div class="menu-nav">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/owners']">
        <mat-icon>assignment_ind</mat-icon>
        <span>Owner</span>
      </button>
      <button mat-menu-item [routerLink]="['/pets']">
        <mat-icon>pets</mat-icon>
        <span>Pets</span>
      </button>
    </mat-menu>
  </div>
  <span>Pet Shop</span>
</mat-toolbar>
<content>
  <router-outlet></router-outlet>
</content>